#Profile {
    background-image: linear-gradient(to right, #eeae51, #fad9a9);
    border-style: ridge;
    border-radius: 25px;
}

#Teams {
    margin: 0px;
    padding: 7px
}

#Menu {
    border-radius: 25px;
    background-color: #5f0a62;
    border-style: ridge;
    color: white;
}

html, body, #Main {
    background-color: #ebebeb;
    margin: 0;
    height: 100%;
}

.tile {
    border: 3px solid black;
    background-color: #acb2aa;
}
